
Elegir Zona a la que desea mover el animal


<% @cont=0 %>

<table class="tabla">

<% @zonas.each do |zona| %>


  <% @cont=@cont+1 %>

  <% if @cont == 1 %>
   <tr>
     <td>
 	<%= link_to zona.nombre, :action=> "mover", :id1=> zona.id, :id2 => @animal.id %>	
     </td>
  <% end %>
  <% if @cont == 2%>
     <td>
 	<%= link_to zona.nombre, :action=> "mover", :id1=> zona.id, :id2 => @animal.id %>	
	<% @cont=0 %>
    </td>
   </tr>
  <% end %>


<%end%>



