<div id="columna_der">
<nav class="bloque_right">
	<p>aqui van los bloques de la derecha</p>
     	<p>aqui van los bloques de la derecha</p>
	<p>aqui van los bloques de la derecha</p>
	<p>aqui van los bloques de la derecha</p>
</nav>
</div>
